.t-wrapper {
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading>* {
    align-self: start;
    font-size: 2rem;
    font-weight: bold;
    color: #242d49;
}

.t-blur2 {
    left: 0;
    top: 9rem;
}

.moment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 13rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid rgb(236, 247, 216);
    box-shadow: 0px 20px 24px 3px rgba(201, 230, 144, 0.42);
    border-radius: 20px;
}

.moment>img {
    width: 25rem;
    height: 20rem;
}


/* slider */

.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: yellowgreen;
}

@media screen and (max-width: 480px) {
    .t-wrapper {
        padding: 0;
        margin-top: 3rem;
    }
    .moment {
        padding: 0rem 0rem;
        height: 28rem;
        width: 30rem;
        height: 13rem;
    }
    .t-heading>* {
        font-size: 1.5rem;
    }
    .t-wrapper .swiper {
        height: 85%;
    }
    .moment>img {
        width: 250px;
        height: 300px;
    }
}