.App {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    overflow: hidden;
    color: #242d49;
}

.button {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, yellowgreen, rgb(213, 241, 155));
    box-shadow: 0px 20px 24px 3px rgba(154, 205, 50, 0.42);
}

.button:hover {
    background: white;
    cursor: pointer;
    color: yellowgreen;
    border: 1px solid yellowgreen;
}

@media screen and (max-width: 480px) {
    .App {
        padding: 0.5rem 1rem;
        line-height: 1.5;
    }
}